<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Connectivity Procedure</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height:600px;">
          <div class="x_title">
            <h2>Embedded C</h2>
            <div class="clearfix"></div>
          </div>
          <div>
            <div class="x_content">
            <h1 id="gulpfilejs">1. Download SDK</h1>
            <div class="alert alert-success alert-dismissible fade in" role="alert">
              <h2>Download SDK from <code class="buu"><%= link_to 'here', devices_sdks_path(platform: :embedded_c), style: 'color: red;' %></code> and unzip it.</h2>
            </div>
            <hr>
            <h1 id="gulpfilejs">2. Install <code class="buu">Make</code></h1>
            <div class="alert alert-success alert-dismissible fade in" role="alert">
              <h2>Run this command to traverse to the directory.</h2>
              <figure class="br"><pre><code class="but" data-lang="bash"><span class="x">$ </span>cd embedded_c</code></pre></figure>
            </div>
            <div class="alert alert-success alert-dismissible fade in" role="alert">
              <h2>Run this command to install Make. </h2>
              <figure class="br"><pre><code class="but" data-lang="bash"><span class="x">$ </span>sudo apt-get install make</code></pre></figure>
            </div>
            <hr>
            <h1 id="gulpfilejs">3. Download Credentials</h1>
            <blockquote>
              <p>Download credentials of your device from owned_devices panel. Unzip this file and copy all the files inside this folder to the certs folder of your current directory. Now, your directory structure should look like this..</p>
            </blockquote>
            <figure class="br"><pre><code class="but" data-lang="bash">embedded_c/
├── certs
    ├── private.pem.key
    ├── public.pem.key
    ├── certificate.pem.crt
    └── root-CA.crt
├── external_libs
    ├── CppUTest
    ├── jsmn (contains several header and lib files)
    └── mbedTLS (contains several files and folders)
├── include (contains several header files)
├── platform
    └── linux
        ├── common (contains several header and lib files)
        ├── mbedtls (contains several header and lib files)
        └── pthread (contains several header and lib files)
├── script
    ├── Makefile
    ├── aws_iot_config.h
    ├── script.c
├── src</code></pre></figure><hr>
              <h1 id="gulpfilejs">4. Add Device Identity</h1>
              <blockquote>
              <p>Replace <code class="buu">YOUR_DEVICE_SERIAL_NUMBER</code> with the actual serial number of your device which you created on dashboard. You have to replace this variable in the <code class="buu">embedded_c/script/script.c</code> and <code class="buu">embedded_c/script/aws_iot_config.h</code></p>
            </blockquote>
            <hr>
              <h1 id="gulpfilejs">5. Handle Device Working</h1>
              <blockquote>
              <p>You will get the signal on/off in <code class="buu">iot_subscribe_callback_handler</code> callback in script.c. Now, control your device as per these signals. Find this at line number 53 in script.c.</p>
            </blockquote>
            </div>
            <hr>
              <h1 id="gulpfilejs">6. Run the script.</h1>
              <div class="alert alert-success alert-dismissible fade in" role="alert">
                <h2>Run this command to traverse to the directory.</h2>
                <figure class="br"><pre><code class="but" data-lang="bash"><span class="x">$ </span>cd script</code></pre></figure>
              </div>
              <div class="alert alert-success alert-dismissible fade in" role="alert">
                <h2>Build Your project dependencies by running this command</h2>
                <figure class="br"><pre><code class="but" data-lang="bash"><span class="x">$ </span>make</code></pre></figure>
              </div>
              <div class="alert alert-success alert-dismissible fade in" role="alert">
                <h2>Run the script using this command</h2>
                <figure class="br"><pre><code class="but" data-lang="bash"><span class="x">$ </span>./script.c</code></pre></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

