<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Networks</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height:600px;">
          <div class="x_title">
            <h2>Edit Network</h2>
            <ul class="nav navbar-right panel_toolbox">
              <% if @devices_without_network.present? %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Attach Device</button>
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <%= form_tag network_add_device_path(@network), method: :put do %>
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Select Device</h4>
                        </div>
                        <div class="modal-body">
                          <p>
                            <div class="clearfix"></div>
                            <select name="device_id" class="form-control">
                              <%= options_from_collection_for_select(@devices_without_network, :slug, :name) %>
                            </select>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <input type="submit" class="btn btn-primary" value="Attach">
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <button type="button" class="btn btn-primary" onclick="alert('You dont have any detached device');">Attach Device</button>
              <% end %>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <%= render partial: 'form', locals: { network: @network } %>
          </div>
          <div class="x_title">
            <h2>Associated Devices</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= render partial: 'device', collection: @network.devices %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
