<div class="panel panel-primary col-md-2 remove-padding left-margin">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to device_for_user.user_provided_name, edit_device_path(device_for_user) %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6 col-md-offset-2">
      <%= check_box_tag 'status', 'on', device_for_user.on?, class: 'bootstrap-switch device-state-handler' %>
      <%= hidden_field_tag "device_id", device_for_user.id %>
    </div>
  </div>
</div>
