<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
  <div class="well profile_view">
    <div class="col-sm-12">
      <h2><%= h truncate(shared_device.name, length: 30) %></h2>
      <div class="left col-xs-7">
        <h2></h2>
      </div>
      <div class="right col-xs-5 text-center">
      </div>
    </div>
    <div class="col-xs-12 bottom text-center">
      <div class="col-xs-12">
        <%= link_to device_path(shared_device), style: 'float: left;', class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are You Sure?"} do %>
          <i class="fa fa-remove"></i> Delete
        <% end %>
      </div>
    </div>
  </div>
</div>
