<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Devices</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height:600px;">
          <div class="x_title">
            <h2>Share</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-6 col-md-offset-3">
              <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <label>Add User: </label>
                  <div class="input-group">
                    <input type="email" class="form-control" id="email" placeholder="User's Email you wants to share with..">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"  aria-controls="collapseTwo" data-slug="<%= @owned_device.slug %>">Search!</button>
                    </span>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="x_title">
            <h2>Shared Users</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <%= render partial: 'user', collection: @owned_device.shared_users, locals: { device: @owned_device } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#headingTwo").on("click", function (event) {
    var slug = $('button#headingTwo').data('slug');
    if($('button.collapsed').length) {
      var email = $('#email').val();
      if(email.match(/^.+@[a-zA-Z]+\.\w+$/)) {
        $.ajax({
          url: "/users/search_by_email",
          type: "GET",
          data: { email: email, device_slug: slug },
          dataType: "SCRIPT"
        });
      } else {
        alert('Please Enter a valid email address:');
        return false;
      }
    }
  });
</script>

<style>
  .accordion .panel:hover {
    background: #fff;
  }
  .accordion .panel {
    margin-bottom: 5px;
    border-radius: 0;
  }
</style>
