
<!-- footer content -->
<footer>
  <div class="pull-right">
    User Device Control Panel by <a href="https://androidofthinngs.net">Android Of Things</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

